* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

form input {
  width: 80%;
  outline: none;
  font-size: 20px;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid grey;
}

form button {
  width: 20%;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #5044e2;
}

#todo-list {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}

.todo-text.completed {
  text-decoration: line-through;
  color: grey;
}

.todo-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #5044e2;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.todo-acions {
  display: flex;
  gap: 10px;
}

.action-btn {
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.edit-btn {
  background-color: #28a745;
}

.delete-btn {
  background-color: #dc3545;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #5044e2;
}

header a {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
}

.todo-card {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
